html {
  font-size: 16px;
  font-family: "Lato", sans-serif; }

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1440px; } }

header {
  border-top: 0.5px solid #ddccb8; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: stretch; }

.header__left {
  margin-right: 30px;
  padding: 2px 22px 0 0; }

.header__center {
  flex: 2;
  width: 100%;
  border-left: 1px solid #ddccb8;
  border-right: 1px solid #ddccb8; }

.header__right {
  display: flex;
  padding: 30px 24px 20px 29px;
  border-right: 1px solid #ddccb8; }

.header__corp {
  position: relative;
  margin-top: -5px; }
  .header__corp i {
    color: #a9836b; }
  .header__corp::before {
    content: '2';
    height: 18px;
    width: 18px;
    color: #fff;
    font-size: 11px;
    text-align: center;
    background-color: #2f4061;
    border-radius: 50%;
    position: absolute;
    top: -7px;
    left: 13px; }

.header__cashContainer {
  display: flex;
  flex-direction: column;
  padding-left: 44px; }

.header__total {
  color: #919cb3; }

.header__cash {
  color: #a9836b;
  font-size: 19px;
  font-weight: 600;
  position: relative;
  font-family: "Myriad Pro", "Myriad", "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .header__cash::before {
    content: 'Total:';
    color: #919cb3;
    font-size: 12px;
    position: absolute;
    top: -15px;
    left: 0; }

.footer {
  background-color: #f5f2ee;
  margin-top: 260px; }

.footer__wrap {
  margin: 0 auto;
  display: flex;
  padding: 112px 150px 105px 150px;
  position: relative; }
  .footer__wrap::before {
    content: '';
    height: 11px;
    width: 210px;
    background-color: #a9836b;
    position: absolute;
    top: 0;
    left: 50.5%;
    transform: translateX(-50%); }

.footer__left {
  text-align: center;
  flex: 1;
  margin-right: 13px; }

.footer__list {
  list-style: none;
  margin-top: 34px;
  padding-left: 0;
  padding-right: 34px;
  line-height: 26.5px; }

.footer__item {
  padding: 6px; }

.footer__link:link, .footer__link:visited {
  text-decoration: none;
  color: #304061;
  font-size: 18px;
  letter-spacing: 1.5px;
  font-family: "Lato", sans-serif; }

.gold:link, .gold:visited {
  color: #a9836b; }

.footer__center {
  text-align: center;
  flex: 1;
  border-left: 1px solid #a9836b;
  border-right: 1px solid #a9836b; }
  .footer__center span {
    margin-left: 18px; }
  .footer__center a {
    display: block; }

.footer__info,
.footer__contact {
  list-style: none;
  padding: 0; }
  .footer__info li,
  .footer__contact li {
    padding: 2px; }
  .footer__info a:link, .footer__info a:visited,
  .footer__contact a:link,
  .footer__contact a:visited {
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #304061; }

.footer__info {
  margin-top: 61px; }

.footer__contact {
  margin-bottom: 34px; }

.footer__right {
  text-align: center;
  flex: 1; }
  .footer__right span {
    margin-left: 123px; }

.footer__emailBtn {
  display: block;
  width: 390px; }
  .footer__emailBtn:link, .footer__emailBtn:visited {
    outline: none;
    text-transform: uppercase;
    padding: 23px 100px;
    background-color: transparent;
    border: 0.5px solid #a9836b;
    letter-spacing: 1.5px;
    color: #304061;
    font-size: 16px;
    position: relative;
    margin-left: 117px;
    margin-top: 114px;
    text-decoration: none; }
    .footer__emailBtn:link:hover, .footer__emailBtn:visited:hover {
      background-color: #ddccb8;
      border: 0; }
  .footer__emailBtn::before {
    content: '\f0e0';
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 22px;
    transform: translateY(-50%);
    cursor: pointer; }
  .footer__emailBtn::after {
    content: '\f061';
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    font-size: 16px;
    position: absolute;
    top: 50%;
    right: 22px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #a9836b; }

.footer__heading {
  font-size: 28px;
  font-family: "Myriad Pro", "Myriad", "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  line-height: 36px;
  letter-spacing: 12px; }

.copyright {
  text-align: center;
  color: #304061;
  font-size: 16px;
  margin-left: 23px;
  padding-bottom: 60px; }
  .copyright span {
    font-weight: bold; }

.inputContainer {
  background-image: linear-gradient(0deg, #e6d7c5 5%, #fbfbfb 54%, #efe9c7 100%);
  height: 105px;
  position: relative; }

.input {
  padding-top: 31px; }

.input__search {
  color: #a9836b;
  width: 100%;
  background-color: #fff;
  padding: 7px 47px;
  outline: none;
  border: 1px solid #a9836b; }
  .input__search::placeholder {
    color: #a9836b; }

.input__icon {
  color: #a9836b;
  font-size: 15px;
  position: absolute;
  top: 40px;
  left: 268px; }

.products {
  margin-top: 33px; }

.products__table {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  line-height: 36px; }
  .products__table thead {
    border-bottom: 1px solid #a9836b; }
  .products__table th {
    border-top: 0;
    color: #919cb3;
    font-weight: 400;
    font-size: 16px;
    font-family: "Lato", sans-serif; }
  .products__table .products__stars {
    width: 76px;
    color: #a9836b;
    font-size: 13px;
    vertical-align: middle;
    padding-left: 37px;
    cursor: pointer; }
  .products__table .products__img {
    width: 90px;
    vertical-align: middle;
    padding: 0 15px; }
    .products__table .products__img img {
      width: 70%; }
  .products__table .products__brand {
    width: 310px;
    color: #304061;
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
    letter-spacing: 1.5px;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    padding: 17px 18px; }
  .products__table .brand__sub {
    color: #a9836b;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px; }
  .products__table .products__itemNo {
    width: 245px;
    vertical-align: middle;
    color: #304061; }
  .products__table .products__listing {
    width: 175px;
    vertical-align: middle;
    color: #a9836b; }
  .products__table .products__wholesale {
    width: 190px;
    vertical-align: middle;
    color: #a9836b; }
  .products__table .products__qty {
    width: 110px;
    vertical-align: middle;
    color: #a9836b; }
  .products__table .products__qty__span {
    position: relative; }
    .products__table .products__qty__span::before {
      content: '\f077';
      font-family: "Font Awesome 5 Pro";
      font-weight: 900;
      font-size: 13px;
      position: absolute;
      top: -17px;
      right: -24px;
      cursor: pointer; }
    .products__table .products__qty__span::after {
      content: '\f078';
      font-family: "Font Awesome 5 Pro";
      font-weight: 900;
      font-size: 13px;
      position: absolute;
      top: -2px;
      right: -24px;
      cursor: pointer; }
  .products__table .products__add {
    width: 213px;
    vertical-align: middle;
    padding-top: 15px;
    position: relative; }
    .products__table .products__add::after {
      content: '\f078';
      font-family: "Font Awesome 5 Pro";
      font-weight: 900;
      font-size: 13px;
      position: absolute;
      top: 29px;
      right: 26px;
      cursor: pointer;
      color: #a9836b; }

.accordion-toggle {
  transition: all .2s ease; }

.hide-table-padding td {
  padding: 0; }

.products__hide {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  color: #7583a0;
  transition: .2s ease; }

.products__collapsed {
  display: flex; }

.products__subimg {
  cursor: pointer; }

.products__color {
  margin-left: 94px; }

.products__band {
  margin-left: 116px; }

.products__case {
  margin-left: 86px; }

.products__features {
  margin-left: 78px; }

.products__link {
  margin-left: 170px;
  color: #a9836b;
  cursor: pointer; }

.addBtn:link,
.addBtn:visited {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  letter-spacing: 7px;
  background-color: #304061;
  padding: 15px 51px 15px 26px;
  color: #fff;
  position: relative;
  text-decoration: none;
  text-transform: uppercase; }
  .addBtn:link:hover,
  .addBtn:visited:hover {
    background-color: #536b94; }
  .addBtn:link::after,
  .addBtn:visited::after {
    content: "\f07a";
    font-size: 16px;
    color: #fff;
    position: absolute;
    top: 7px;
    right: 22px;
    font-family: "Font Awesome 5 Pro";
    font-weight: 900; }

.addedBtn:link,
.addedBtn:visited {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  letter-spacing: 7px;
  background-color: #536b94;
  padding: 15px 28px 15px 19px;
  color: #fff;
  position: relative;
  text-decoration: none;
  letter-spacing: 6px;
  text-transform: uppercase; }
  .addedBtn:link:hover,
  .addedBtn:visited:hover {
    background-color: #304061; }
  .addedBtn:link::after,
  .addedBtn:visited::after {
    content: "\f00c";
    height: 15px;
    width: 15px;
    color: #fff;
    position: absolute;
    top: 7px;
    right: 14px;
    font-family: "Font Awesome 5 Pro";
    font-weight: 900; }

.outBtn:link,
.outBtn:visited {
  font-family: "Lato", sans-serif;
  font-size: 11px;
  letter-spacing: .1px;
  background-color: #fff;
  padding: 15px 15px 15px 32px;
  color: #304061;
  position: relative;
  text-decoration: none;
  text-transform: uppercase; }
  .outBtn:link:hover,
  .outBtn:visited:hover {
    border: 1px solid #a9836b; }
  .outBtn:link::after,
  .outBtn:visited::after {
    content: "\f217";
    height: 15px;
    width: 15px;
    color: #304061;
    position: absolute;
    top: 4px;
    left: 11px;
    font-family: "Font Awesome 5 Pro";
    font-weight: 900; }
