html {
  font-size: 16px;
  font-family: "Lato", sans-serif; }

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1440px; } }

body {
  overflow-x: hidden; }

header {
  border-top: 0.5px solid #ddccb8; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: stretch; }
  @media only screen and (max-width: 576px) {
    .header {
      align-items: center; } }

.header__left {
  margin-right: 30px;
  padding: 2px 22px 0 0;
  align-self: center; }
  @media only screen and (max-width: 576px) {
    .header__left {
      margin: 0 auto;
      padding: 0; } }

.header__logoLink {
  display: inline-block; }
  @media only screen and (max-width: 768px) {
    .header__logoLink {
      width: 130px; } }
  @media only screen and (max-width: 450px) {
    .header__logoLink {
      width: 100px; } }

.header__logoImg {
  width: 100%; }

.header__center {
  flex: 2;
  width: 100%;
  border-left: 1px solid #ddccb8;
  border-right: 1px solid #ddccb8; }
  @media only screen and (max-width: 576px) {
    .header__center {
      display: none; } }

.header__right {
  display: flex;
  padding: 30px 24px 20px 29px;
  border-right: 1px solid #ddccb8;
  position: relative; }
  @media only screen and (max-width: 992px) {
    .header__right {
      border-right: none; } }
  @media only screen and (max-width: 576px) {
    .header__right {
      margin: 0 auto; } }

.header__corp {
  position: relative;
  margin-top: -5px;
  left: 8px; }
  .header__corp i {
    color: #a9836b; }

.header__totalItem {
  height: 18px;
  width: 18px;
  color: #fff;
  font-size: 11px;
  text-align: center;
  background-color: #2f4061;
  border-radius: 50%;
  position: absolute;
  top: 18px;
  left: 47px;
  z-index: 1; }

.header__cashContainer {
  display: flex;
  flex-direction: column;
  padding-left: 44px; }

.header__total {
  color: #919cb3; }

.header__cash {
  color: #a9836b;
  font-size: 19px;
  font-weight: 600;
  position: relative;
  font-family: "Myriad Pro", "Myriad", "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .header__cash::before {
    content: 'Total:';
    color: #919cb3;
    font-size: 12px;
    position: absolute;
    top: -15px;
    left: 0; }

.footer__row {
  margin: 0; }

.footer {
  background-color: #f5f2ee;
  margin-top: 190px; }
  @media only screen and (max-width: 576px) {
    .footer {
      margin-top: 75px; } }

.footer__wrap {
  margin: 0 auto;
  position: relative;
  padding-top: 115px;
  max-width: 1570px;
  padding-left: 60px; }
  @media only screen and (max-width: 1200px) {
    .footer__wrap {
      padding-top: 60px;
      padding-left: 0;
      padding-right: 0; } }
  .footer__wrap::before {
    content: '';
    height: 11px;
    width: 210px;
    background-color: #ddccb8;
    position: absolute;
    top: 0;
    left: 50.5%;
    transform: translateX(-50%); }
    @media only screen and (max-width: 1200px) {
      .footer__wrap::before {
        left: 50%;
        transform: translateX(-50%); } }

.footer__left {
  padding-right: 106px;
  text-align: center; }
  @media only screen and (max-width: 1200px) {
    .footer__left {
      padding-right: 0; } }

.footer__list {
  list-style: none;
  margin-top: 34px;
  padding-left: 0;
  padding-right: 0;
  text-align: center; }

.footer__item {
  padding: 6px;
  line-height: 27px; }

.footer__link:link, .footer__link:visited {
  text-decoration: none;
  color: #304061;
  font-size: 18px;
  letter-spacing: 0;
  font-family: "Lato", sans-serif;
  transition: .3s ease; }
  .footer__link:link:hover, .footer__link:visited:hover {
    color: #a9836b; }
  @media only screen and (max-width: 576px) {
    .footer__link:link, .footer__link:visited {
      font-size: 15px; } }

.up {
  letter-spacing: 3px !important; }

.footer__center {
  text-align: center;
  position: relative; }
  @media only screen and (max-width: 1200px) {
    .footer__center {
      padding-right: 0;
      padding-right: 0;
      margin-top: 20px; } }
  .footer__center span {
    margin-left: -4px; }
    @media only screen and (max-width: 1200px) {
      .footer__center span {
        margin-left: 0; } }
  .footer__center a {
    display: block; }
  .footer__center::before {
    content: '';
    position: absolute;
    height: 95%;
    width: 1px;
    left: -18px;
    bottom: 5px;
    background-color: #a9836b; }
    @media only screen and (max-width: 1200px) {
      .footer__center::before {
        display: none; } }
  .footer__center::after {
    content: '';
    position: absolute;
    height: 95%;
    width: 1px;
    right: -7px;
    bottom: 5px;
    background-color: #a9836b; }
    @media only screen and (max-width: 1200px) {
      .footer__center::after {
        display: none; } }

.footer__info,
.footer__contact {
  list-style: none;
  padding: 0;
  margin-top: 34px;
  padding-right: 26px; }
  @media only screen and (max-width: 1200px) {
    .footer__info,
    .footer__contact {
      padding-right: 0; } }
  .footer__info li,
  .footer__contact li {
    padding: 2px 0; }
  .footer__info a:link, .footer__info a:visited,
  .footer__contact a:link,
  .footer__contact a:visited {
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #304061;
    transition: .3s ease; }
    .footer__info a:link:hover, .footer__info a:visited:hover,
    .footer__contact a:link:hover,
    .footer__contact a:visited:hover {
      color: #a9836b; }

.footer__info {
  margin-top: 61px; }
  @media only screen and (max-width: 1200px) {
    .footer__info {
      margin-top: 30px; } }

.footer__contact {
  margin-bottom: 34px; }
  @media only screen and (max-width: 1200px) {
    .footer__contact {
      margin-bottom: 30px;
      margin-top: 20px; } }

.footer__right {
  text-align: right;
  position: relative;
  padding-right: 28px; }
  @media only screen and (max-width: 1660px) {
    .footer__right {
      text-align: center;
      padding-left: 30px; } }
  @media only screen and (max-width: 1200px) {
    .footer__right {
      padding-right: 0; } }
  @media only screen and (max-width: 576px) {
    .footer__right {
      padding-left: 0; } }

.newsletter {
  margin-right: 7px; }
  @media only screen and (max-width: 1200px) {
    .newsletter {
      margin-right: 0; } }

.newsletter__container {
  max-width: 390px;
  max-height: 75px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid #d5d5d5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-top: 113px;
  margin-left: 100px;
  transition: .2s ease; }
  .newsletter__container:hover {
    border: 1px solid #a9836b; }
  @media only screen and (max-width: 1660px) {
    .newsletter__container {
      margin-left: auto;
      margin-right: auto; } }
  @media only screen and (max-width: 1200px) {
    .newsletter__container {
      margin-top: 40px; } }
  @media only screen and (max-width: 450px) {
    .newsletter__container {
      max-width: 310px;
      margin: 40px auto 0 auto;
      width: 90%; } }

.newsletter__mail {
  font-size: 24px; }
  @media only screen and (max-width: 450px) {
    .newsletter__mail {
      font-size: 20px; } }

.newsletter__input {
  flex: 2;
  background-color: transparent;
  border: none;
  padding: 30px;
  text-align: center;
  outline: none;
  transition: .2s ease; }
  @media only screen and (max-width: 450px) {
    .newsletter__input {
      padding: 30px 10px; } }
  .newsletter__input:focus {
    color: #a9836b; }
  .newsletter__input::placeholder {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px; }
    @media only screen and (max-width: 450px) {
      .newsletter__input::placeholder {
        font-size: 11px; } }

.newsletter__arrow {
  color: #a9836b;
  opacity: .5;
  transition: .3s ease; }
  .newsletter__arrow:hover {
    opacity: 1; }

.footer__heading {
  font-size: 28px;
  text-transform: uppercase;
  line-height: 36px;
  letter-spacing: 10px;
  font-family: 'Butler';
  font-weight: 900;
  color: #304061; }
  @media only screen and (max-width: 576px) {
    .footer__heading {
      font-size: 25px;
      letter-spacing: 3px; } }

.copyright {
  margin-top: 105px;
  text-align: center;
  color: #304061;
  font-size: 16px;
  margin-left: 31px;
  padding-bottom: 60px; }
  .copyright span {
    font-weight: bold; }
  @media only screen and (max-width: 1200px) {
    .copyright {
      margin-top: 60px;
      margin-left: 0; } }
  @media only screen and (max-width: 576px) {
    .copyright {
      margin-top: 40px;
      font-size: 13px;
      padding-bottom: 20px; } }

.inputContainer {
  background-color: #f5f2ee;
  height: 105px;
  box-shadow: 0px 0px 10px 7px rgba(245, 242, 238, 0.45); }

.input {
  padding-top: 31px;
  position: relative; }

.input__search {
  color: #a9836b;
  width: 100%;
  background-color: #fff;
  padding: 7px 47px;
  outline: none;
  border: 1px solid #a9836b; }
  .input__search::placeholder {
    color: #a9836b; }

.input__icon {
  color: #a9836b;
  font-size: 15px;
  position: absolute;
  top: 40px;
  left: 35px;
  cursor: pointer; }

.products {
  margin-top: 33px; }

.products__headings {
  margin-top: 50px; }
  @media only screen and (max-width: 768px) {
    .products__headings {
      display: none; } }

.products__list {
  list-style: none;
  display: flex;
  border-bottom: 1px solid #dbcdc4;
  padding-bottom: 12px; }
  @media only screen and (max-width: 992px) {
    .products__list {
      padding-left: 0; } }

.products__item {
  color: #919cb3;
  font-weight: 400;
  font-size: 16px;
  font-family: "Lato", sans-serif; }

.products__item--img {
  margin-left: 48px; }
  @media only screen and (max-width: 1200px) {
    .products__item--img {
      margin-left: 0; } }
  @media only screen and (max-width: 992px) {
    .products__item--img {
      margin-left: 25px; } }

.products__item--brand {
  margin-left: 55px; }

.products__item--itemNo {
  margin-left: 267px; }
  @media only screen and (max-width: 1400px) {
    .products__item--itemNo {
      margin-left: 200px; } }
  @media only screen and (max-width: 1200px) {
    .products__item--itemNo {
      margin-left: 149px; } }
  @media only screen and (max-width: 992px) {
    .products__item--itemNo {
      margin-left: 70px; } }

.products__item--listing {
  margin-left: 185px; }
  @media only screen and (max-width: 1400px) {
    .products__item--listing {
      margin-left: 137px; } }
  @media only screen and (max-width: 1200px) {
    .products__item--listing {
      margin-left: 79px; } }
  @media only screen and (max-width: 992px) {
    .products__item--listing {
      margin-left: 40px; } }

.products__item--wholesale {
  margin-left: 128px; }
  @media only screen and (max-width: 1400px) {
    .products__item--wholesale {
      margin-left: 65px; } }
  @media only screen and (max-width: 1200px) {
    .products__item--wholesale {
      margin-left: 53px; } }
  @media only screen and (max-width: 992px) {
    .products__item--wholesale {
      margin-left: 29px; } }

.products__item--qty {
  margin-left: 120px;
  position: relative; }
  @media only screen and (max-width: 1400px) {
    .products__item--qty {
      margin-left: 64px; } }
  @media only screen and (max-width: 1200px) {
    .products__item--qty {
      margin-left: 55px; } }
  @media only screen and (max-width: 992px) {
    .products__item--qty {
      margin-left: 18px; } }

.product__wrap {
  position: relative;
  margin-top: 18px; }
  @media only screen and (max-width: 768px) {
    .product__wrap {
      flex-direction: column;
      margin-top: 50px; } }

.wrap__active {
  border: 1px solid #a9836b;
  padding: 13px 3px;
  transition: .2s ease-in-out;
  -webkit-box-shadow: 0px 0px 18px 1px #a9836b;
  -moz-box-shadow: 0px 0px 18px 1px #a9836b;
  box-shadow: 0px 0px 18px 1px #a9836b; }

.product {
  display: flex;
  height: 70px;
  position: relative; }
  @media only screen and (max-width: 1400px) {
    .product {
      margin-bottom: 25px; } }
  @media only screen and (max-width: 768px) {
    .product {
      flex-direction: column;
      margin-top: 50px;
      text-align: center;
      height: 100%; } }

.product__star {
  padding: 19px 20px 19px 40px;
  width: 86px;
  cursor: pointer;
  color: #a9836b; }
  @media only screen and (max-width: 1400px) {
    .product__star {
      padding: 26px 5px 2px 15px; } }
  @media only screen and (max-width: 1200px) {
    .product__star {
      width: 40px; } }
  @media only screen and (max-width: 992px) {
    .product__star {
      padding: 10px 1px 2px 1px; } }
  @media only screen and (max-width: 768px) {
    .product__star {
      padding: 16px 1px 2px 21px; } }
  @media only screen and (max-width: 992px) {
    .product__star i {
      font-size: 13px; } }
  @media only screen and (max-width: 768px) {
    .product__star i {
      font-size: 20px; } }

.product__img {
  padding: 0 5px;
  width: 70px; }
  @media only screen and (max-width: 768px) {
    .product__img {
      width: 130px;
      margin: 0 auto; } }
  .product__img img {
    width: 69%; }
    @media only screen and (max-width: 1400px) {
      .product__img img {
        width: 100%; } }

.product__brand {
  padding: 3px 28px;
  color: #304061;
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  letter-spacing: 1.5px;
  width: 270px;
  text-transform: uppercase; }
  @media only screen and (max-width: 1400px) {
    .product__brand {
      padding: 3px 5px 3px 30px; } }
  @media only screen and (max-width: 992px) {
    .product__brand {
      font-size: 15px; } }
  @media only screen and (max-width: 768px) {
    .product__brand {
      font-size: 17px;
      padding: 15px 5px 5px 5px;
      width: 100%; } }

.product__subbrand {
  color: #a9836b;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1px;
  display: block;
  text-transform: capitalize; }
  @media only screen and (max-width: 992px) {
    .product__subbrand {
      font-size: 12px; } }
  @media only screen and (max-width: 768px) {
    .product__subbrand {
      font-size: 14px; } }

.product__itemNo {
  padding: 22px 65px;
  color: #2f4061;
  width: 300px; }
  @media only screen and (max-width: 1400px) {
    .product__itemNo {
      padding: 13px 50px;
      width: 240px; } }
  @media only screen and (max-width: 1200px) {
    .product__itemNo {
      width: 171px;
      padding: 13px 10px; } }
  @media only screen and (max-width: 992px) {
    .product__itemNo {
      font-size: 13px;
      padding: 13px 2px; } }
  @media only screen and (max-width: 768px) {
    .product__itemNo {
      font-size: 16px;
      padding: 8px 8px;
      width: 100%; } }

.product__listing {
  padding: 18px 13px;
  color: #a9836b;
  width: 131px; }
  @media only screen and (max-width: 1400px) {
    .product__listing {
      padding: 13px 13px; } }
  @media only screen and (max-width: 992px) {
    .product__listing {
      font-size: 13px;
      padding: 13px 8px; } }
  @media only screen and (max-width: 768px) {
    .product__listing {
      display: none; } }

.product__wholesale {
  padding: 18px 56px;
  color: #a9836b;
  width: 217px; }
  @media only screen and (max-width: 1400px) {
    .product__wholesale {
      padding: 13px 13px;
      width: 140px; } }
  @media only screen and (max-width: 992px) {
    .product__wholesale {
      font-size: 13px;
      padding: 13px 8px; } }
  @media only screen and (max-width: 768px) {
    .product__wholesale {
      width: 100%;
      font-size: 20px;
      padding: 15px 8px; } }

.product__qty {
  padding: 21px 34px;
  width: 113px; }
  @media only screen and (max-width: 1400px) {
    .product__qty {
      padding: 13px 13px;
      width: 80px; } }
  @media only screen and (max-width: 992px) {
    .product__qty {
      font-size: 13px;
      padding: 13px 8px; } }
  @media only screen and (max-width: 768px) {
    .product__qty {
      margin: 0 auto; } }

.alert {
  width: 130px;
  position: absolute;
  top: -65px;
  right: -50px;
  text-align: center;
  font-size: 11px;
  padding: 7px 15px 7px 5px;
  display: none;
  margin: 0; }

.close {
  font-size: 16px; }

.product__qtyNum {
  position: relative;
  color: #a9836b;
  width: 40px;
  border: none;
  cursor: pointer;
  outline: none;
  text-align: center; }
  @media only screen and (max-width: 768px) {
    .product__qtyNum {
      font-size: 20px;
      width: 50px; } }

.product__add {
  padding: 21px 31px;
  width: 201px; }
  @media only screen and (max-width: 1400px) {
    .product__add {
      padding: 13px 20px;
      width: 190px; } }
  @media only screen and (max-width: 768px) {
    .product__add {
      width: 100%;
      margin: 0 auto 20px auto; } }

.product__arrow {
  position: absolute;
  top: 11px;
  right: 22px; }
  @media only screen and (max-width: 1400px) {
    .product__arrow {
      right: 12px; } }
  @media only screen and (max-width: 1200px) {
    .product__arrow {
      top: 6px;
      right: 3px; } }
  @media only screen and (max-width: 992px) {
    .product__arrow {
      right: 0; } }
  @media only screen and (max-width: 768px) {
    .product__arrow {
      right: auto;
      top: auto;
      bottom: 0;
      left: 50%;
      transform: translateX(-38%); } }
  .product__arrow a:link, .product__arrow a:visited {
    font-size: 13px;
    position: absolute;
    top: 7px;
    right: 0;
    cursor: pointer;
    color: #a9836b;
    position: relative; }
    @media only screen and (max-width: 1400px) {
      .product__arrow a:link, .product__arrow a:visited {
        right: 2px; } }
    @media only screen and (max-width: 1200px) {
      .product__arrow a:link, .product__arrow a:visited {
        right: 7px; } }

.product__hidden {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 34px;
  padding: 15px 9px 0 77px;
  border-top: .5px solid #dcd3ce;
  margin-top: 10px;
  padding-right: 17px;
  transition: .2s ease; }
  @media only screen and (max-width: 1200px) {
    .product__hidden {
      padding: 15px 5px 0 0; } }
  @media only screen and (max-width: 768px) {
    .product__hidden {
      flex-direction: column;
      padding: 10px 50px;
      text-align: center;
      height: auto; } }

.collapse {
  transition: .2s ease; }

.product__hidden--img {
  padding-left: 21px; }
  @media only screen and (max-width: 1400px) {
    .product__hidden--img {
      padding-left: 0; } }
  @media only screen and (max-width: 1400px) {
    .product__hidden--img {
      padding-left: 15px; } }
  @media only screen and (max-width: 992px) {
    .product__hidden--img {
      padding-left: 5px; } }

.product__hidden--info {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  color: #7583a0;
  margin-left: 62px;
  flex: 2; }
  @media only screen and (max-width: 1400px) {
    .product__hidden--info {
      margin-left: 0; } }
  @media only screen and (max-width: 1200px) {
    .product__hidden--info {
      margin-left: 0;
      font-size: 12px; } }
  @media only screen and (max-width: 992px) {
    .product__hidden--info {
      font-size: 10px; } }
  .product__hidden--info .color {
    padding-right: 116px;
    padding-left: 27px; }
    @media only screen and (max-width: 1400px) {
      .product__hidden--info .color {
        padding-right: 45px;
        padding-left: 20px; } }
    @media only screen and (max-width: 1200px) {
      .product__hidden--info .color {
        padding-right: 30px;
        padding-left: 20px; } }
    @media only screen and (max-width: 992px) {
      .product__hidden--info .color {
        padding-left: 5px;
        padding-right: 10px; } }
  .product__hidden--info .case {
    padding-left: 83px; }
    @media only screen and (max-width: 1400px) {
      .product__hidden--info .case {
        padding-left: 50px; } }
    @media only screen and (max-width: 1200px) {
      .product__hidden--info .case {
        padding-left: 40px; } }
    @media only screen and (max-width: 992px) {
      .product__hidden--info .case {
        padding-left: 15px; } }
  .product__hidden--info .features {
    padding-left: 76px; }
    @media only screen and (max-width: 1400px) {
      .product__hidden--info .features {
        padding-left: 50px; } }
    @media only screen and (max-width: 1200px) {
      .product__hidden--info .features {
        padding-left: 40px; } }
    @media only screen and (max-width: 992px) {
      .product__hidden--info .features {
        padding-left: 12px; } }

.product__hidden--link {
  cursor: pointer;
  color: #a9836b;
  font-size: 13px; }
  @media only screen and (max-width: 992px) {
    .product__hidden--link {
      margin-top: 5px; } }

.added__cart {
  position: absolute;
  z-index: 3;
  top: 89px;
  right: 0;
  max-width: 450px;
  min-height: 150px;
  max-height: 600px;
  background-color: #fff;
  transition: .5s ease;
  transform: translateX(200%);
  visibility: hidden; }
  @media only screen and (max-width: 768px) {
    .added__cart {
      right: 0; } }
  @media only screen and (max-width: 576px) {
    .added__cart {
      width: 365px;
      min-height: auto;
      padding-top: 20px; } }
  @media only screen and (max-width: 450px) {
    .added__cart {
      max-width: 300px; } }

.added__cart--active {
  transition: .5s ease;
  transform: translateX(0);
  border: 1px solid #a9836b;
  visibility: visible; }

.closeHover {
  color: #a9836b;
  position: absolute;
  top: 7px;
  right: 11px;
  font-size: 16px;
  cursor: pointer; }
  @media only screen and (max-width: 450px) {
    .closeHover {
      top: 10px;
      right: 10px; } }

.added__item {
  display: flex;
  padding: 30px 10px; }
  .added__item span {
    font-size: 13px; }
  @media only screen and (max-width: 576px) {
    .added__item {
      padding: 15px 10px; } }
  @media only screen and (max-width: 450px) {
    .added__item {
      padding: 15px 12px;
      flex-direction: column;
      text-align: center; } }
  .added__item .product__img {
    width: 50px; }
    .added__item .product__img img {
      width: 100%; }
  .added__item .product__brand {
    width: auto;
    min-width: 200px;
    color: #304061;
    font-size: 18px;
    padding: 0 15px 0 10px; }
    @media only screen and (max-width: 576px) {
      .added__item .product__brand {
        font-size: 15px;
        padding: 0 15px; } }
  .added__item .product_subbrand {
    letter-spacing: .5px;
    font-size: 16px; }
    @media only screen and (max-width: 576px) {
      .added__item .product_subbrand {
        font-size: 12px; } }
  .added__item .product__itemNo {
    padding: 0;
    width: auto;
    min-width: 100px;
    font-size: 14px;
    color: #304061; }
    @media only screen and (max-width: 450px) {
      .added__item .product__itemNo {
        font-size: 11px; } }

.added__msg {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  color: #7583a0;
  border-top: 1px solid #a9836b;
  text-align: center;
  padding: 10px 20px; }
  @media only screen and (max-width: 576px) {
    .added__msg {
      font-size: 14px; } }
  @media only screen and (max-width: 450px) {
    .added__msg {
      font-size: 10px;
      padding: 8px 4px; } }

.mycart {
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(130%);
  z-index: 2;
  height: 100vh;
  width: 400px;
  border: 1px solid #a9836b;
  border-top: none;
  background-color: #fff;
  transition: .2s ease;
  -webkit-box-shadow: 0px 0px 18px 1px #a9836b;
  -moz-box-shadow: 0px 0px 18px 1px #a9836b;
  box-shadow: 0px 0px 18px 1px #a9836b;
  visibility: hidden; }
  @media only screen and (max-width: 768px) {
    .mycart {
      width: 100%; } }
  @media only screen and (max-width: 576px) {
    .mycart {
      margin-top: 75px;
      height: auto; } }

.mycart__active {
  transition: .5s ease;
  transform: translateX(0);
  visibility: visible; }

.mycart__top {
  display: flex;
  flex-direction: column; }

.mycart__heading {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  color: #304061;
  padding: 20px 15px;
  font-weight: bold;
  border-bottom: 1px solid #a9836b; }
  @media only screen and (max-width: 768px) {
    .mycart__heading {
      text-align: center; } }

.mycart__list {
  margin-top: 50px; }
  @media only screen and (max-width: 576px) {
    .mycart__list {
      margin-top: 20px; } }

.mycart__item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 12px 10px 15px; }
  @media only screen and (max-width: 768px) {
    .mycart__item {
      padding: 20px 10px 10px 4px; } }
  @media only screen and (max-width: 390px) {
    .mycart__item {
      flex-direction: column;
      text-align: center; } }
  .mycart__item .product__brand {
    font-family: "Myriad Pro", "Myriad", "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    font-size: 15px;
    width: auto;
    min-width: 175px; }
    @media only screen and (max-width: 768px) {
      .mycart__item .product__brand {
        font-size: 14px; } }
  @media only screen and (max-width: 768px) {
    .mycart__item .product__subbrand {
      font-size: 12px; } }
  .mycart__item .product__wholesale {
    padding: 0;
    font-size: 12px;
    width: auto;
    font-size: 14px; }
  .mycart__item .product__qty {
    padding: 0;
    width: auto; }
    .mycart__item .product__qty .product__qtyNum {
      outline: none; }
      @media only screen and (max-width: 576px) {
        .mycart__item .product__qty .product__qtyNum {
          font-size: 12px; } }
      @media only screen and (max-width: 390px) {
        .mycart__item .product__qty .product__qtyNum {
          font-size: 17px; } }
    @media only screen and (max-width: 768px) {
      .mycart__item .product__qty {
        position: relative;
        left: 0;
        bottom: 0; } }

.listQty {
  margin: 0; }
  @media only screen and (max-width: 390px) {
    .listQty {
      margin-top: 10px; } }

.mycart__close {
  font-size: 20px;
  color: #a9836b;
  cursor: pointer;
  height: 35px; }
  @media only screen and (max-width: 768px) {
    .mycart__close {
      font-size: 15px; } }

.mycart__down {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #a9836b;
  padding: 30px 10px;
  margin-top: 50px;
  position: absolute;
  bottom: 0;
  width: 100%; }
  @media only screen and (max-width: 576px) {
    .mycart__down {
      position: relative; } }

.total {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: #304061;
  font-weight: bold;
  position: relative;
  top: 8px; }
  .total::before {
    content: 'Total:';
    color: #919cb3;
    font-size: 15px;
    position: absolute;
    top: -20px;
    left: 0; }

.checkout a:link, .checkout a:visited {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #fff;
  background-color: #304061;
  padding: 15px 50px;
  text-transform: uppercase;
  text-decoration: none; }
  @media only screen and (max-width: 450px) {
    .checkout a:link, .checkout a:visited {
      padding: 15px 30px; } }

.checkout a:hover {
  background-color: #7583a0; }

.addBtn:link,
.addBtn:visited {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  letter-spacing: 7px;
  background-color: #304061;
  padding: 15px 51px 15px 26px;
  color: #fff;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: hover .2s ease; }
  @media only screen and (max-width: 1400px) {
    .addBtn:link,
    .addBtn:visited {
      font-size: 13px;
      padding: 15px 35px 15px 25px; } }
  @media only screen and (max-width: 992px) {
    .addBtn:link,
    .addBtn:visited {
      font-size: 12px;
      letter-spacing: 0;
      padding: 15px 35px 15px 15px; } }
  @media only screen and (max-width: 768px) {
    .addBtn:link,
    .addBtn:visited {
      font-size: 15px;
      padding: 15px 80px; } }
  @media only screen and (max-width: 576px) {
    .addBtn:link,
    .addBtn:visited {
      padding: 15px 50px;
      font-size: 14px; } }
  .addBtn:link:hover,
  .addBtn:visited:hover {
    background-color: #536b94; }
  .addBtn:link::after,
  .addBtn:visited::after {
    content: "\f07a";
    font-size: 16px;
    color: #fff;
    position: absolute;
    top: 12px;
    right: 22px;
    font-family: "Font Awesome 5 Pro";
    font-weight: 900; }
    @media only screen and (max-width: 1400px) {
      .addBtn:link::after,
      .addBtn:visited::after {
        top: 14px;
        right: 5px;
        font-size: 13px; } }
    @media only screen and (max-width: 992px) {
      .addBtn:link::after,
      .addBtn:visited::after {
        font-size: 11px;
        top: 15px;
        right: 12px; } }
    @media only screen and (max-width: 768px) {
      .addBtn:link::after,
      .addBtn:visited::after {
        top: 17px;
        right: 25px; } }

.addedBtn:link,
.addedBtn:visited {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  letter-spacing: 7px;
  background-color: #536b94;
  padding: 15px 28px 15px 19px;
  color: #fff;
  position: relative;
  text-decoration: none;
  letter-spacing: 6px;
  text-transform: uppercase;
  transition: hover .2s ease; }
  @media only screen and (max-width: 1400px) {
    .addedBtn:link,
    .addedBtn:visited {
      font-size: 13px;
      padding: 15px 25px 15px 25px;
      letter-spacing: 3px; } }
  @media only screen and (max-width: 992px) {
    .addedBtn:link,
    .addedBtn:visited {
      padding: 15px 22px 15px 10px;
      letter-spacing: 0; } }
  @media only screen and (max-width: 768px) {
    .addedBtn:link,
    .addedBtn:visited {
      padding: 15px 75px; } }
  @media only screen and (max-width: 576px) {
    .addedBtn:link,
    .addedBtn:visited {
      padding: 15px 45px;
      font-size: 14px; } }
  .addedBtn:link:hover,
  .addedBtn:visited:hover {
    background-color: #304061; }
  .addedBtn:link::after,
  .addedBtn:visited::after {
    content: "\f00c";
    font-size: 13px;
    color: #fff;
    position: absolute;
    top: 15px;
    right: 8px;
    font-family: "Font Awesome 5 Pro";
    font-weight: 900; }
    @media only screen and (max-width: 1400px) {
      .addedBtn:link::after,
      .addedBtn:visited::after {
        top: 15px;
        right: 6px;
        font-size: 11px; } }
    @media only screen and (max-width: 768px) {
      .addedBtn:link::after,
      .addedBtn:visited::after {
        right: 24px; } }

.outBtn:link,
.outBtn:visited {
  font-family: "Lato", sans-serif;
  font-size: 11px;
  letter-spacing: .1px;
  background-color: #fff;
  padding: 15px 15px 15px 32px;
  color: #304061;
  position: relative;
  text-decoration: none;
  text-transform: uppercase; }
  @media only screen and (max-width: 1400px) {
    .outBtn:link,
    .outBtn:visited {
      font-size: 11px;
      padding: 15px 7px 15px 25px; } }
  @media only screen and (max-width: 992px) {
    .outBtn:link,
    .outBtn:visited {
      padding: 18px 7px 15px 9px;
      font-size: 9px; } }
  @media only screen and (max-width: 768px) {
    .outBtn:link,
    .outBtn:visited {
      padding: 15px 75px;
      font-size: 12px; } }
  @media only screen and (max-width: 576px) {
    .outBtn:link,
    .outBtn:visited {
      padding: 15px 50px; } }
  .outBtn:link:hover,
  .outBtn:visited:hover {
    border: 1px solid #a9836b; }
  .outBtn:link::after,
  .outBtn:visited::after {
    content: "\f217";
    height: 15px;
    width: 15px;
    color: #304061;
    position: absolute;
    top: 14px;
    left: 11px;
    font-family: "Font Awesome 5 Pro";
    font-weight: 900; }
    @media only screen and (max-width: 1400px) {
      .outBtn:link::after,
      .outBtn:visited::after {
        top: 14px;
        right: 5px; } }
    @media only screen and (max-width: 992px) {
      .outBtn:link::after,
      .outBtn:visited::after {
        top: 7px;
        left: 34px; } }
    @media only screen and (max-width: 768px) {
      .outBtn:link::after,
      .outBtn:visited::after {
        left: 49px;
        right: 0;
        top: 13px; } }
    @media only screen and (max-width: 768px) {
      .outBtn:link::after,
      .outBtn:visited::after {
        left: 28px; } }
