.footer {
    background-color: $color-primary;
    margin-top: 205px;

    @include responsive(md) {
        margin-top: 130px;
    }
    @include responsive(xs) {
        margin-top: 75px;
    }
}
.footer__wrap {
    margin: 0 auto;
    position: relative;
    padding-top: 115px;
    max-width: 1570px;
    padding-left: 60px;

    @include responsive(md) {
        padding-top: 60px;
        padding-left: 0;
    }

    &::before {
        content: '';
        height: 11px;
        width: 210px;
        background-color: $text-brown;
        position: absolute;
        top: 0;
        left: 50.5%;
        transform: translateX(-50%);
    }
}
.footer__left {
    padding-right: 106px;
    text-align: center;
   
    @include responsive(md) {
        padding-right: 0;
        padding-right: 0;
    }
}
.footer__list {
    list-style: none;
    margin-top: 34px;
    padding-left: 0;
    padding-right: 34px;
    text-align: center;

    @include responsive(md) {
        padding-right: 0;
    }
}
.footer__item {
    padding: 6px;
    line-height: 27px;
}
.up {
    text-transform: uppercase;
    letter-spacing: 3px;
}
.footer__link {
    &:link,
    &:visited {
        text-decoration: none;
        color: $text-blue;
        font-size: 18px;
        letter-spacing: 1px;
        font-family: $lato;

        @include responsive(xs) {
            font-size: 15px;
        }
    }
}
.gold {
    &:link,
    &:visited {
        color: $text-brown;
    }
}
.footer__center {
    text-align: center;
    position: relative;

    @include responsive(md) {
        margin-top: 40px;
        padding-left: 0;
        padding-right: 0;
    }

    span {
        margin-left: -4px;
        @include responsive(md) {
            margin-left: 0;
        }
    }
    a {
        display: block;
    }

    &::before {
        content: '';
        position: absolute;
        height: 95%;
        width: 1px;
        left: -18px;
        bottom: 5px;
        background-color: $text-brown;

        @include responsive(md) {
            display: none;
        }
    }

    &::after {
        content: '';
        position: absolute;
        height: 95%;
        width: 1px;
        right: -7px;
        bottom: 5px;
        background-color: $text-brown;

        @include responsive(md) {
            display: none;
        }
    }
}
.footer__info,
.footer__contact {
    list-style: none;
    padding: 0;
    margin-top: 34px;
    li {
        padding: 2px;
    }
    a {
        &:link,
        &:visited {
            text-decoration: none;
            font-family: $lato;
            font-size: 16px;
            color: $text-blue;
        }
    }
}
.footer__info {
    margin-top: 61px;

    @include responsive(md) {
        margin-top: 38px;
    }
}
.footer__contact {
    margin-bottom: 34px;
}
.footer__right {
    text-align: right;
    position: relative;

    @include responsive(md) {
        padding-right: 0;
        padding-right: 0;
        margin-top: 17px;
        text-align: center;
    }
}
.newsletter {
    @include responsive(md) {
        position: relative;
        left: auto;
    }
}
.footer__emailBtn {
    
    &:link,
    &:visited {
        display: inline-block;
        max-width: 390px;
        width: 100%;
        position: relative;
        outline: none;
        text-transform: uppercase;
        background-color: transparent;
        border: .5px solid $text-brown;
        letter-spacing: 1.5px;
        color: $text-blue;
        font-size: 14px;
        text-decoration: none;
        height: 71px;
        margin-top: 117px;
        padding-top: 24px;
        text-align: center;

        @include responsive(md) {
            top: auto;
            left: auto;
            width: 50%;
            margin: 40px auto;
            display: block;
        }
        @include responsive(xs) {
            height: 52px;
            padding-top: 15px;
        }

        &:hover {
           background-color: $color-brown-line;
           border: 0;
        }
    }
    &::before {
        content: '\f0e0';
        font-family: $icons;
        font-weight: 900;
        font-size: 18px;
        position: absolute;
        top: 50%;
        left: 22px;
        transform: translateY(-50%);
        cursor: pointer;

        @include responsive(xs) {
            display: none;
        }
    }

    &::after {
        content: '\f061';
        font-family: $icons;
        font-weight: 900;
        font-size: 16px;
        position: absolute;
        top: 50%;
        right: 22px;
        transform: translateY(-50%);
        cursor: pointer;
        color: $text-brown;

        @include responsive(xs) {
            display: none;
        }
    }
}
.footer__heading {
    font-size: 28px;
    font-family: $myriad;
    text-transform: uppercase;
    line-height: 36px;
    letter-spacing: 12px;
    font-family: 'Butler';

    @include responsive(xs) {
        font-size: 20px;
        letter-spacing: 3px;
    }
}
.copyright {
    margin-top: 105px;
    text-align: center;
    color: $text-blue;
    font-size: 16px;
    margin-left: 31px;
    padding-bottom: 60px;

    span {
        font-weight: bold;
    }

    @include responsive(md) {
        margin-top: 45px;
        margin-left: 0;
    }
    @include responsive(xs) {
        margin-top: 0;
        font-size: 13px;
        padding-bottom: 20px;
    }
}