.footer {
    background-color: $color-primary;
    margin-top: 190px;

    @include responsive(md) {
        margin-top: 130px;
    }
    @include responsive(xs) {
        margin-top: 75px;
    }
}
.footer__wrap {
    margin: 0 auto;
    position: relative;
    padding-top: 115px;
    max-width: 1570px;
    padding-left: 60px;

    @include responsive(ml) {
        padding-top: 60px;
        padding-left: 0;
    }

    &::before {
        content: '';
        height: 11px;
        width: 210px;
        background-color: $footer-line;
        position: absolute;
        top: 0;
        left: 50.5%;
        transform: translateX(-50%);

        @include responsive(ml) {
            left: 50%;
            transform: translateX(-55%);
        }
    }
}
.footer__left {
    padding-right: 106px;
    text-align: center;
   
    @include responsive(ml) {
        padding-right: 0;
        padding-right: 0;
    }
}
.footer__list {
    list-style: none;
    margin-top: 34px;
    padding-left: 0;
    padding-right: 26px;
    text-align: center;

    @include responsive(lg) {
        padding-right: 0;
    }

}
.footer__item {
    padding: 6px;
    line-height: 27px;
}

.footer__link {
    &:link,
    &:visited {
        text-decoration: none;
        color: $text-blue;
        font-size: 18px;
        letter-spacing: 0;
        font-family: $lato;
        transition: .3s ease;

        &:hover {
            color: $text-brown;
        }

        @include responsive(xs) {
            font-size: 15px;
        }
    }
}

.up {
    letter-spacing: 3px !important;
}

.footer__center {
    text-align: center;
    position: relative;

    @include responsive(md) {
        margin-top: 40px;
        padding-left: 0;
        padding-right: 0;
    }

    span {
        margin-left: -4px;
        @include responsive(md) {
            margin-left: 0;
        }
    }
    a {
        display: block;
    }

    &::before {
        content: '';
        position: absolute;
        height: 95%;
        width: 1px;
        left: -18px;
        bottom: 5px;
        background-color: $text-brown;

        @include responsive(ml) {
            display: none;
        }
    }

    &::after {
        content: '';
        position: absolute;
        height: 95%;
        width: 1px;
        right: -7px;
        bottom: 5px;
        background-color: $text-brown;

        @include responsive(ml) {
            display: none;
        }
    }
}
.footer__info,
.footer__contact {
    list-style: none;
    padding: 0;
    margin-top: 34px;
    padding-right: 26px;

    @include responsive(ml) {
        padding-right: 0;
    }

    li {
        padding: 2px;
        
    }
    a {
        &:link,
        &:visited {
            text-decoration: none;
            font-family: $lato;
            font-size: 16px;
            color: $text-blue;
            transition: .3s ease;

        &:hover {
            color: $text-brown;
        }
        }
    }
}
.footer__info {
    margin-top: 61px;

    @include responsive(md) {
        margin-top: 38px;
    }
}
.footer__contact {
    margin-bottom: 34px;
}
.footer__right {
    text-align: right;
    position: relative;
    padding-right: 28px;

    @include responsive(xl) {
        text-align: center;
    }

    @include responsive(md) {
        padding-right: 0;
        padding-right: 0;
        margin-top: 17px;
    }
}
.newsletter {
    margin-right: 7px;

    @include responsive(md) {
        position: relative;
        left: auto;
    }
}
.newsletter__container {
    max-width: 390px;
    max-height: 75px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid $border-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 113px;
    margin-left: 100px;

    @include responsive(xl) {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}

.newsletter__mail {
    font-size: 24px;
}
.newsletter__input {
    flex: 2;
    background-color: transparent;
    border: none;
    padding: 30px;
    text-align: center;
    outline: none;

    &::placeholder {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 13px;
    }
}

.newsletter__arrow {
    color: $text-brown;
    opacity: .5;
    transition: .3s ease;

    &:hover {
        opacity: 1;
    }
}

.footer__heading {
    font-size: 28px;
    font-family: $myriad;
    text-transform: uppercase;
    line-height: 36px;
    letter-spacing: 10px;
    font-family: 'Butler';
    font-weight: 900;

    @include responsive(xs) {
        font-size: 20px;
        letter-spacing: 3px;
    }
}

.copyright {
    margin-top: 105px;
    text-align: center;
    color: $text-blue;
    font-size: 16px;
    margin-left: 31px;
    padding-bottom: 60px;

    span {
        font-weight: bold;
    }

    @include responsive(md) {
        margin-top: 45px;
        margin-left: 0;
    }
    @include responsive(xs) {
        margin-top: 0;
        font-size: 13px;
        padding-bottom: 20px;
    }
}