header {
    border-top: .5px solid $color-brown-line;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    @include responsive(xs) {
        flex-direction: column;
    }
}
.header__left {
    margin-right: 30px;
    padding: 2px 22px 0 0;

    @include responsive(xs) {
        margin: 0 auto;
        padding: 0;
    }
}
.header__center {
    flex: 2;
    width: 100%;
    border-left: 1px solid $color-brown-line;
    border-right: 1px solid $color-brown-line;

    @include responsive(xs) {
        display: none;   
    }
}
.header__right {
    display: flex;
    padding: 30px 24px 20px 29px;
    border-right: 1px solid $color-brown-line;
    position: relative;

    @include responsive(md) {
        border-right: none;
    }

    @include responsive(xs) {
        margin: 0 auto;   
    }
}
.header__corp {
    position: relative;
    margin-top: -5px;
    left: 8px;
    i {
        color: $text-brown;
    }
}
.header__totalItem {
    height: 18px;
    width: 18px;
    color: $color-white;
    font-size: 11px;
    text-align: center;
    background-color: $color-blue-dark;
    border-radius: 50%;
    position: absolute;
    top: 18px;
    left: 47px;
    z-index: 1;
}
.header__cashContainer {
    display: flex;
    flex-direction: column;
    padding-left: 44px;
}
.header__total {
    color: $color-blue-light;
}
.header__cash {
    color: $text-brown;
    font-size: 19px;
    font-weight: 600;
    position: relative;
    font-family: $myriad;

    &::before {
        content: 'Total:';
        color: $color-blue-light;
        font-size: 12px;
        position: absolute;
        top: -15px;
        left: 0;

        @include responsive(xs) {
            left: 30px;
        }
    }
}