.added__cart {
    position: absolute;
    z-index: 3;
    top: 89px;
    left: -340px;
    flex-direction: column;
    max-width: 470px;
    min-height: 150px;
    background-color: $color-white;
    transition: .5s ease;
    transform: translateX(200%);
    max-height: 600px;


    @include responsive(sm) {
        left: 40%;
        width: 450px;
    }

    @include responsive(xs) {
        left: 10%;
        width: 365px;
    }
    @include responsive(ss) {
        min-height: auto;
        left: -20px;
        width: 250px;
    }
}
.added__cart--active {
    transition: .5s ease;
    transform: translateX(0);
    border: 1px solid $text-brown;

    @include responsive(sm) {
        transform: translateX(-60%);
    }

    @include responsive(xs) {
        transform: translateX(-30%);
    }

    @include responsive(ss) {
        transform: translateX(0);
    }
}

.close {
        color: $text-brown;
        position: absolute;
        top: 7px;
        right: 11px;
        font-size: 16px;
        cursor: pointer;

        @include responsive(ss) {
            top: 1px;
            right: 5px;
        }
}

.added__item {
    display: flex;
    padding: 30px;

    @include responsive(xs) {
        padding: 15px 10px;
    }

    @include responsive(ss) {
        padding: 15px 12px;
        flex-direction: column;
        text-align: center;
    }

    .product__img {
        width: 70px;

        img {
            width: 100%;
        }
    }

    .product__brand {
        width: auto;
        min-width: 218px;
        color: $text-blue;
        font-size: 18px;
        padding: 0 23px 0 28px;

        @include responsive(xs) {
            font-size: 15px;
            padding: 0 15px;
        }
    }
    .product_subbrand {
        letter-spacing: .5px;
        font-size: 16px;

        @include responsive(xs) {
            font-size: 12px;
        }
    }

    .product__itemNo {
        padding: 0;
        width: auto;
        font-size: 14px;
        color: $text-blue;
        
        @include responsive(ss) {
            font-size: 11px;
        }
    }
}
.added__msg {
    font-size: 14px;
    font-family: $lato;
    color: $text-blue-light;
    border-top: 1px solid $text-brown;
    padding: 10px 84px;

    @include responsive(xs) {
        font-size: 14px;
        text-align: center;
        padding: 10px 20px;
    }

    @include responsive(ss) {
        font-size: 10px;
        text-align: center;
        padding: 4px 4px;
    }
}