.inputContainer {
    background-color: $color-primary;
    height: 105px;
    box-shadow: 0px 0px 10px 7px rgba(245,242,238,0.45);
}

.input {
    padding-top: 31px;
    position: relative;
}

.input__search {
    color: $text-brown;
    width: 100%;
    background-color: $color-white;
    padding: 7px 47px;
    outline: none;
    border: 1px solid $text-brown;

    &::placeholder {
        color: $text-brown;
    }
}

.input__icon {
    color: $text-brown;
    font-size: 15px;
    position: absolute;
    top: 40px;
    left: 35px;
    cursor: pointer;
}