.inputContainer {
    background-image: linear-gradient(0deg, #e6d7c5 5%, #fbfbfb 54%, #efe9c7 100%);
    height: 105px;
    position: relative;
}
.input {
    padding-top: 31px;
}
.input__search {
    color: $text-brown;
    width: 100%;
    background-color: $color-white;
    padding: 7px 47px;
    outline: none;
    border: 1px solid $text-brown;

    &::before {

    }

    &::placeholder {
        color: $text-brown;
    }
}
.input__icon {
    color: $text-brown;
    font-size: 15px;
    position: absolute;
    top: 40px;
    left: 268px;
}