.products {
    margin-top: 33px;
}
// Headings of products
.products__headings {
    margin-top: 50px;
}
.products__list {
    list-style: none;
    display: flex;
}
.products__item {
    color: $color-blue-light;
    font-weight: 400;
    font-size: 16px;
    font-family: $lato;
}
.products__item--img {
    margin-left: 48px;
}
.products__item--brand {
    margin-left: 47px;
}
.products__item--itemNo {
    margin-left: 267px;
}
.products__item--listing {
    margin-left: 185px;
}
.products__item--wholesale {
    margin-left: 128px;
}
.products__item--qty {
    margin-left: 124px;
}

// Products

.product {
    padding-top: 17px;
    display: flex;
    height: auto;
}
.product__star {
    padding: 19px 20px 19px 40px;
    min-width: 86px;
    cursor: pointer;
    color: $text-brown;
}
.product__img {
    padding: 0 5px;
    width: 70px;
    img {
        width: 69%;
    }
}
.product__brand {
    padding: 3px 28px;
    color: $text-blue;
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
    letter-spacing: 1.5px;
    min-width: 240px;
    
}
.product__subbrand {
    color: $text-brown;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px;
    display: block;
}
.product__itemNo {
    padding: 22px 98px;
    color: $text-blue;
    min-width: 330px;
}
.product__listing {
    padding: 21px 13px;
    color: $text-brown;
    min-width: 131px;
}
.product__wholesale {
    padding: 21px 56px;
    color: $text-brown;
    min-width: 217px;
}
.product__qty {
    padding: 21px 34px;
    color: $text-brown;
    min-width: 113px;
}
.product__qtyNum {
    position: relative;
        
    &::before {
        content: '\f077';
        font-family: $icons;
        font-weight: 900;
        font-size: 13px;
        position: absolute;
        top: -7px;
        right: -22px;
        cursor: pointer;
    }
    &::after {
        content: '\f078';
        font-family: $icons;
        font-weight: 900;
        font-size: 13px;
        position: absolute;
        top: 10px;
        right: -22px;
        cursor: pointer;
    }
}
.product__add {
    padding: 21px 31px;
    min-width: 201px;

    
}
.product__arrow {
    a {
        
        &:link,
        &:visited {
            font-size: 13px;
            position: absolute;
            top: 23px;
            right: 0;
            cursor: pointer;
            color: $text-brown;
            position: relative;
        }
    }
}

.product__hidden {
    transition: all .2s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    padding: 0 9px 0 77px;
    border-top: .5px solid #dcd3ce;
    margin-top: 23px;
}
.product__hidden--img {
    padding-left: 21px;
}
.product__hidden--info {
    font-size: 14px;
    font-family: $lato;
    color: $text-blue-light;
    margin-left: 62px;
    flex: 2;

    .color {
        padding-right: 116px;
        padding-left: 27px;
    }
    .band {
        
    }
    .case {
        padding-left: 83px;
    }
    .features {
        padding-left: 76px;
    }
}
.product__hidden--link {
    cursor: pointer;
    color: $text-brown;
    font-size: 13px;
}
