.products {
    margin-top: 33px;
}
// Headings of products
.products__headings {
    margin-top: 50px;

    @include responsive(sm) {
        display: none;
    }
}
.products__list {
    list-style: none;
    display: flex;

    @include responsive(md) {
        padding-left: 0;
    }
}
.products__item {
    color: $color-blue-light;
    font-weight: 400;
    font-size: 16px;
    font-family: $lato;
}
.products__item--img {
    margin-left: 48px;

    @include responsive(ml) {
        margin-left: 0;
    }

    @include responsive(md) {
        margin-left: 25px;
    }
}
.products__item--brand {
    margin-left: 63px;
}
.products__item--itemNo {
    margin-left: 267px;

    @include responsive(lg) {
        margin-left: 200px;
    }

    @include responsive(ml) {
        margin-left: 149px;
    }

    @include responsive(md) {
        margin-left: 70px;
    }
}
.products__item--listing {
    margin-left: 185px;

    @include responsive(lg) {
        margin-left: 137px;
    }

    @include responsive(ml) {
        margin-left: 79px;
    }

    @include responsive(md) {
        margin-left: 40px;
    }
}
.products__item--wholesale {
    margin-left: 128px;

    @include responsive(lg) {
        margin-left: 65px;
    }

    @include responsive(ml) {
        margin-left: 53px;
    }

    @include responsive(md) {
        margin-left: 29px;
    }
}
.products__item--qty {
    margin-left: 124px;

    @include responsive(lg) {
        margin-left: 64px;
    }

    @include responsive(ml) {
        margin-left: 55px;
    }

    @include responsive(md) {
        margin-left: 18px;
    }
}

// Products

.product__wrap {
    position: relative;
    margin-top: 20px;

    @include responsive(sm) {
        flex-direction: column;
        margin-top: 50px;
        min-width: 300px;
    }

}

.product {
    padding-top: 17px;
    display: flex;
    height: 70px;
    position: relative;

    @include responsive(lg) {
        margin-bottom: 25px;
    }

    @include responsive(sm) {
        flex-direction: column;
        margin-top: 50px;
        text-align: center;
        height: 100%;
    }
}
.product__star {
    padding: 19px 20px 19px 40px;
    width: 86px;
    cursor: pointer;
    color: $text-brown;

    @include responsive(lg) {
        padding: 16px 5px 2px 5px;
    }

    @include responsive(ml) {
        width: 40px;
    }

    @include responsive(md) {
        padding: 16px 1px 2px 1px;
    }

    i {
        @include responsive(md) {
            font-size: 13px;
        }
        @include responsive(sm) {
            font-size: 20px;
        }
    }
}
.product__img {
    padding: 0 5px;
    width: 70px;

    @include responsive(sm) {
        width: 200px;
        margin: 0 auto;
    }
    img {
        width: 69%;

        @include responsive(lg) {
            width: 100%;
        }
    }
}
.product__brand {
    padding: 3px 28px;
    color: $text-blue;
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
    letter-spacing: 1.5px;
    width: 240px;

    @include responsive(lg) {
        padding: 3px 5px 3px 30px;
    }

    @include responsive(md) {
        font-size: 15px;
    }  

    @include responsive(sm) {
        font-size: 17px;
        padding: 15px 5px 5px 5px;
        width: 100%;
    }
    
}
.product__subbrand {
    color: $text-brown;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px;
    display: block;

    @include responsive(md) {
        font-size: 12px;
    }
    @include responsive(sm) {
        font-size: 14px;
    }
}
.product__itemNo {
    padding: 22px 98px;
    color: $text-blue;
    width: 330px;

    @include responsive(lg) {
        padding: 13px 50px;
        width: 240px;
    }
    @include responsive(ml) {
        width: 171px;
        padding: 13px 21px;
    }
    @include responsive(md) {
        font-size: 13px;
        padding: 13px 8px;
    }
    @include responsive(sm) {
        font-size: 16px;
        padding: 8px 8px;
        width: 100%;
    }
}
.product__listing {
    padding: 21px 13px;
    color: $text-brown;
    width: 131px;

    @include responsive(lg) {
        padding: 13px 13px;
    }

    @include responsive(md) {
        font-size: 13px;
        padding: 13px 8px;
    }
    @include responsive(sm) {
        display: none;
    }
}
.product__wholesale {
    padding: 21px 56px;
    color: $text-brown;
    width: 217px;

    @include responsive(lg) {
        padding: 13px 13px;
        width: 140px;
    }

    @include responsive(md) {
        font-size: 13px;
        padding: 13px 8px;
    }

    @include responsive(sm) {
        width: 100%;
        font-size: 20px;
        padding: 15px 8px;
    }
}
.product__qty {
    padding: 21px 34px;
    color: $text-brown;
    width: 113px;

    @include responsive(lg) {
        padding: 13px 13px;
        width: 80px;
    }

    @include responsive(md) {
        font-size: 13px;
        padding: 13px 8px;
    }

    @include responsive(sm) {
        position: absolute;
        bottom: 5px;
        left: 70px;
    }

    @include responsive(xs) {
        left: 50px;
        bottom: 0;
        width: 45px;
    }
    @include responsive(ss) {
        left: -5px;
    }
}
.product__qtyNum {
    position: relative;

    @include responsive(xs) {
        font-size: 20px;
    }
        
    &::before {
        content: '\f077';
        font-family: $icons;
        font-weight: 900;
        font-size: 13px;
        position: absolute;
        top: -7px;
        right: -22px;
        cursor: pointer;

        @include responsive(md) {
            font-size: 9px;
            top: -2px;
            right: -14px;
        }

        @include responsive(xs) {
            font-size: 11px;
            top: 1px;
        }
    }
    &::after {
        content: '\f078';
        font-family: $icons;
        font-weight: 900;
        font-size: 13px;
        position: absolute;
        top: 10px;
        right: -22px;
        cursor: pointer;

        @include responsive(md) {
            font-size: 9px;
            top: 9px;
            right: -14px;
        }

        @include responsive(xs) {
            font-size: 11px;
            top: 14px;
        }
    }
}
.product__add {
    padding: 21px 31px;
    width: 201px;

    @include responsive(lg) {
        padding: 13px 20px;
        width: 190px;
    }
    @include responsive(sm) {
        width: 95%;
        margin: 0 auto;
    }


}
.product__arrow {
    position: absolute;
    top: 11px;
    right: 22px;

    @include responsive(ml) {
        top: 6px;
        right: 13px;
    }

    @include responsive(md) {
        right: 8px;
    }

    a {
        
        &:link,
        &:visited {
            font-size: 13px;
            position: absolute;
            top: 23px;
            right: 0;
            cursor: pointer;
            color: $text-brown;
            position: relative;
        }
    }
}

.product__hidden {
    transition: all .2s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    padding: 15px 9px 0 77px;
    border-top: .5px solid #dcd3ce;
    margin-top: 23px;
    margin-bottom: -20px;

    @include responsive(ml) {
        padding: 15px 13px 0 0;
    }
    @include responsive(sm) {
        flex-direction: column;
        padding: 10px 50px;
        text-align: center;
    }
}
.product__hidden--img {
    padding-left: 21px;

    @include responsive(md) {
        padding-left: 5px;
    }
}
.product__hidden--info {
    font-size: 14px;
    font-family: $lato;
    color: $text-blue-light;
    margin-left: 62px;
    flex: 2;

    @include responsive(ml) {
        margin-left: 0;
        font-size: 12px;
    }
    @include responsive(md) {
        font-size: 10px;
    }

    .color {
        padding-right: 116px;
        padding-left: 27px;

        @include responsive(ml) {
            padding-right: 30px;
            padding-left: 20px;
        }

        @include responsive(md) {
            padding-left: 5px;
            padding-right: 10px;
        }
    }
    
    .case {
        padding-left: 83px;

        @include responsive(ml) {
            padding-left: 40px;
        }
        @include responsive(md) {
            padding-left: 15px;
        }
    }
    .features {
        padding-left: 76px;

        @include responsive(ml) {
            padding-left: 40px;
        }
        @include responsive(md) {
            padding-left: 12px;
        }
    }
}
.product__hidden--link {
    cursor: pointer;
    color: $text-brown;
    font-size: 13px;

    @include responsive(md) {
        margin-top: 5px;
    }
}
